# Environments, AGENTS, and IDEs
.env
.venv/
.opencode/
.vscode/
.specs/
specs/
BD/
AGENTS.md

# Cache
*.pyc
*/*/*/__pycache__/
*/*/__pycache__/
*/__pycache__/

# migrations
*migrations/

# test schemas
schema.yaml



