DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=teleparkbackend
DB_USER=teleparkUser
DB_PASSWORD=teleparkUser
SITE_URL=http://localhost:8081
CSRF_TRUSTED_ORIGINS=http://localhost:8080
SECRET_KEY=django-insecure-5@j$75afof+#p%ft9d4e!)x7%_8na_3arrrb19k1enrjz*g+%u
ALLOWED_HOSTS=localhost,127.0.0.1
ENV=dev